
.contains {
  max-width: 95%;


}


.start {
  text-align: center;
}



p {
  margin: 0;
  padding: 0 15%;
  color: #7B7882;
  text-align: center;
  font-family: 'Nunito', sans-serif;

}

.white {
  color: #fff;
}


.left {

  margin-top: 275px;
  width: 250px;
  height: 40px;
  transform: rotate(-90deg);
  margin-left: -4.5rem;

}

.left p {

margin-left:  50px;




}


.right {

  margin-top: 275px;
  width: 250px;
  height: 40px;
  transform: rotate(90deg);
  margin-right: -9rem;


}

.right p {

margin-left:  30px;
}

.join {
background-color: #C3073F;
text-align: center;

}

.join p{
  color: #1A1A1D;
  font-weight: 900;
  letter-spacing: 3px;
}

.build {
    background-color: #0f0f0f;
}

.build p{
  color: #fff;
  font-weight: 900;
  letter-spacing: 3px;
}


a:hover{
  text-decoration: none;
}

.join:hover{
  background-color: #950740;
}

.build:hover{
  background-color: #222224;
}
.jumbotron{
  background-color: #000;
  visibility: collapse;
  height: 0;
  margin-bottom: 5rem;
}



.up {

    text-align: center;
    padding: 5%;
}



.down{



  text-align: center;
  padding: 5%;

}

@media (max-width: 991px) {

    .container2{
      visibility: collapse;
      width: 0;

    }
    .right {
      visibility: collapse;
    }
    .jumbotron{
      visibility: visible;
    }

 }
