/* *{
  margin: 0;
  padding: 0;
} */

body {
  background-color: #000;
  font-family: 'Raleway', sans-serif;
}

.corner {
  margin: 1% 0 0 8%;
}

.arrow {
  height: 50px;
  width: auto;
}

.navbar {
  margin: 0.5% 0 0 6%;
}




li {
  margin-right: 40px;

}

#active {
  color: #4E4E50;

}


#tabs {
  color: #fff;
}
a:hover {
  color: #CF073F !important; /* Sorry */
}

.navbar-text {
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 4px;
  margin-bottom: 5px;
}

.bottom-container {
  padding: 100px 50px 50px 0 ;
}


.copyright {
  text-align: center;
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
   font-family: 'Raleway', sans-serif;
}
